/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.gallery {
    text-align: center;
    margin: 2em;
}

.big-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.thumbnail {
    max-width: 50px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

.thumbnail:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

